<h2> Partial Cart </h2>

<table class="sidebar_cart">
  <tbody>
    <%= render(@cart.line_items) %>
    <tr>
      <td colspan="3"><h4 style="border-top:1px solid #555;padding-top:10px"> Grand Total : <%= number_to_currency(@cart.grand_total) %></h4></td>
    </tr>
  </tbody>
</table>

<%= button_to "Checkout", new_order_path, method: :get %>

<ul>
<li>This text 1 </li>
<li>This text 2 </li>
<li>This text 3 </li>
</ul>

<style type="text/css">
	h2, .sidebar_cart{color:#fff;}
</style>

<script>
	$(function(){
		/*$(".butMinus").on("click", function(e){
			item = $(this).parent('td').next().find('.txtQty');

			if(!isNaN(item.text()))
			{
				if(item.text() == 1){
					item.closest('tr').hide();
					$(".itemDelete").click();
					return false;
				}

				item.text(parseInt(item.text()) - 1);
			}
		});*/
	});
</script>